# imports from Python 3

In [1]:
from __future__ import print_function

# CONSTANTS

In [2]:
# Database Access
DB_CONNECT =\
    'jdbc:postgresql://chicagoboothanalytics.clloyfrn47sj.us-west-1.rds.amazonaws.com:5432/ChicagoBoothAnalytics?user=BoothAnalytics&password=123BACmoderator'

# Database Table Names
APP_NAME =\
    'ChicagoBoothAnalytics_app'
DB_TABLE_NAME___USER =\
    'auth_user'
DB_TABLE_NAME___BUSINESSSECTOR =\
    '"%s_businesssector"' % APP_NAME
DB_TABLE_NAME___GEOGREGION =\
    '"%s_geogregion"' % APP_NAME
DB_TABLE_NAME___ORG =\
    '"%s_org"' % APP_NAME
DB_TABLE_NAME___ORG_BUSINESSSECTOR_M2M =\
    '"%s_org_business_sectors"' % APP_NAME
DB_TABLE_NAME___ORG_GEOGREGION_M2M =\
    '"%s_org_geog_regions"' % APP_NAME
DB_TABLE_NAME___USERINTERSTEDINORGS_M2M =\
    '"%s_userinterestedinorgs_orgs"' % APP_NAME
DB_TABLE_NAME___USERINTERSTEDINORGS =\
    '"%s_userinterestedinorgs"' % APP_NAME
DB_TABLE_NAME___PERSON =\
    '"%s_person"' % APP_NAME
DB_TABLE_NAME___ROLELVEL =\
    '"%s_rolelevel"' % APP_NAME
DB_TABLE_NAME___ROLE =\
    '"%s_role"' % APP_NAME
DB_TABLE_NAME___CAREEROPPORTUNITY_GEOGREGION_M2M =\
    '"%s_careeropportunity_geog_regions"' % APP_NAME
DB_TABLE_NAME___CAREEROPPORTUNITY =\
    '"%s_careeropportunity"' % APP_NAME
DB_TABLE_NAME___USERCAREEROPPORTUNITYSTATUS =\
    '"%s_usercareeropportunitystatus"' % APP_NAME
DB_TABLE_NAME___FACTTYPE =\
    '"%s_facttype"' % APP_NAME
DB_TABLE_NAME___ORGFACT =\
    '"%s_orgfact"' % APP_NAME

NB_ROWS_TO_SHOW = 9

# import Spark; initiate SparkContext & HiveContext

In [3]:
if 'pyspark' not in vars():
    from findspark import init
    init()
    import pyspark
    sc = pyspark.SparkContext()
    hc = pyspark.sql.HiveContext(sc)
    
print('SparkContext: %s' % str(sc))
print('HiveContext: %s' % str(hc))

SparkContext: <pyspark.context.SparkContext object at 0x106e51c50>
HiveContext: <pyspark.sql.context.HiveContext object at 0x10836b890>

# ORIGINAL DATABASE TABLES

## "User" table

In [4]:
User_DDF = hc.read.jdbc(
    url=DB_CONNECT,
    table=DB_TABLE_NAME___USER)\
    .select(
        'id',
        'username',
        'first_name',
        'last_name',
        'email')\
    .sort('username')

User_DDF.registerTempTable('User')

User_DDF.cache()

User_DDF.toPandas()

   id         username first_name last_name                         email
0   2  MBALearnsToCode       Vinh     Luong  MBALearnsToCode@UChicago.edu
1   1            admin                       BoothAnalyticsClub@gmail.com

## "BusinessSector" table

In [5]:
BusinessSector_DDF = hc.read.jdbc(
    url=DB_CONNECT,
    table=DB_TABLE_NAME___BUSINESSSECTOR)\
    .sort('name')

BusinessSector_DDF.registerTempTable('BusinessSector')

BusinessSector_DDF.cache()

BusinessSector_DDF.toPandas()

    id                                               name
0   28                                        Advertising
1   38                                        Agriculture
2   37                                              Audio
3   21                                         Automotive
4   20                                          Beverages
5    1                                         Consulting
6   16                                     Consumer Goods
7   25                                           Creative
8    7                                         E-Commerce
9   29                                          Education
10  36                                          Education
11  31                                      Entertainment
12  13                                 Financial Services
13   9               Financial Services: Consumer Finance
14  12                    Financial Services: Credit Card
15   6                      Financial Services: Insurance
16   3     Financial Services: Investment Management (IM)
17   2                        Financial Services: Trading
18  26                                         Healthcare
19  19                                        Hospitality
20  40                                    Human Resources
21   5                                          Marketing
22  15                                              Media
23  33                                            Medical
24  18                                       Online Games
25  27                                     Pharmaceutical
26  35                                        Real Estate
27  17                           Recruiting / Headhunting
28  23                                             Retail
29  32                                           Robotics
30  30                                             Sports
31   4                                         Technology
32  39  Technology: Artificial Intelligence (A.I.) / R...
33  34                          Technology: Cybersecurity
34  14                       Technology: Data & Analytics
35  11               Technology: Internet of Things (IoT)
36  24                                     Transportation
37  22                                             Travel
38  10                               Venture Capital (VC)

## "GeogRegion" table

In [6]:
GeogRegion_DDF = hc.read.jdbc(
    url=DB_CONNECT,
    table=DB_TABLE_NAME___GEOGREGION)\
    .sort('name')

GeogRegion_DDF.registerTempTable('GeogRegion')

GeogRegion_DDF.cache()

GeogRegion_DDF.toPandas()

    id                        name
0    8                 Atlanta, GA
1   13                  Austin, TX
2   14        Boston (Greater), MA
3    6                  Boston, MA
4    9       Chicago (Greater), IL
5    2                 Chicago, IL
6   11              Cincinnati, OH
7   12   Los Angeles (Greater), LA
8   10             Los Angeles, CA
9   17                   Miami, FL
10   5           New York City, NY
11  16                Portland, OR
12   7          Salt Lake City, UT
13   4  San Francisco Bay Area, CA
14   3           San Francisco, CA
15  15       Seattle (Greater), WA
16   1                 Seattle, WA

## "Org" table

In [7]:
Org_DDF = hc.read.jdbc(
    url=DB_CONNECT,
    table=DB_TABLE_NAME___ORG)\
    .sort('name')

Org_DDF.registerTempTable('Org')

Org_DDF.cache()

Org_DDF.show(NB_ROWS_TO_SHOW)

+---+---------+
| id|     name|
+---+---------+
| 83|       3M|
| 84|   Abbott|
| 46|Accenture|
| 44|   Acxiom|
|  8| AdYapper|
|  4|   Adatao|
|  7|    Adobe|
|  9|   Affirm|
|132|  AgilOne|
+---+---------+
only showing top 9 rows

## "Org_BusinessSector" table

In [8]:
Org_BusinessSector_m2m_DDF = hc.read.jdbc(
    url=DB_CONNECT,
    table=DB_TABLE_NAME___ORG_BUSINESSSECTOR_M2M)

Org_BusinessSector_m2m_DDF.registerTempTable('Org_BusinessSector_m2m')

Org_BusinessSector_m2m_DDF.show(NB_ROWS_TO_SHOW)

+---+------+-----------------+
| id|org_id|businesssector_id|
+---+------+-----------------+
|  1|     3|                4|
|  2|     3|                7|
|  6|     5|                4|
|  8|     6|                4|
|  9|     7|                4|
| 10|     8|                4|
| 11|     8|                5|
| 12|     9|                9|
| 13|     9|                4|
+---+------+-----------------+
only showing top 9 rows

In [9]:
Org_BusinessSector_DDF = hc.sql(
    'SELECT \
        Org_BusinessSector_m2m.id as id, \
        Org_BusinessSector_m2m.org_id as org_id, \
        Org_BusinessSector_m2m.businesssector_id as businesssector_id, \
        Org.name as org, \
        BusinessSector.name as business_sector \
    FROM \
        Org_BusinessSector_m2m \
        LEFT JOIN Org ON Org_BusinessSector_m2m.org_id = Org.id \
        LEFT JOIN BusinessSector on Org_BusinessSector_m2m.businesssector_id = BusinessSector.id')\
    .sort('org', 'business_sector')

Org_BusinessSector_DDF.registerTempTable('Org_BusinessSector')

Org_BusinessSector_DDF.cache()

Org_BusinessSector_DDF.show(NB_ROWS_TO_SHOW)

+---+------+-----------------+---------+---------------+
| id|org_id|businesssector_id|      org|business_sector|
+---+------+-----------------+---------+---------------+
|110|    83|               25|       3M|       Creative|
|111|    84|               26|   Abbott|     Healthcare|
|112|    84|               27|   Abbott| Pharmaceutical|
| 68|    46|                1|Accenture|     Consulting|
|113|    44|               28|   Acxiom|    Advertising|
|114|    44|                5|   Acxiom|      Marketing|
| 11|     8|                5| AdYapper|      Marketing|
| 10|     8|                4| AdYapper|     Technology|
|196|     4|                4|   Adatao|     Technology|
+---+------+-----------------+---------+---------------+
only showing top 9 rows

## "Org_GeogRegion" table

In [10]:
Org_GeogRegion_m2m_DDF = hc.read.jdbc(
    url=DB_CONNECT,
    table=DB_TABLE_NAME___ORG_GEOGREGION_M2M)

Org_GeogRegion_m2m_DDF.registerTempTable('Org_GeogRegion_m2m')

Org_GeogRegion_m2m_DDF.show(NB_ROWS_TO_SHOW)

+---+------+-------------+
| id|org_id|geogregion_id|
+---+------+-------------+
|  1|     3|            1|
|  2|     3|            4|
|  4|     5|            4|
|  5|     6|            3|
|  6|     7|            4|
|  7|     7|            7|
|  8|     9|            3|
|  9|    10|            2|
| 10|    11|            4|
+---+------+-------------+
only showing top 9 rows

In [11]:
Org_GeogRegion_DDF = hc.sql(
    'SELECT \
        Org_GeogRegion_m2m.id as id, \
        Org_GeogRegion_m2m.org_id as org_id, \
        Org_GeogRegion_m2m.geogregion_id as geogregion_id, \
        Org.name as org, \
        GeogRegion.name as geog_region \
    FROM \
        Org_GeogRegion_m2m \
        LEFT JOIN Org ON Org_GeogRegion_m2m.org_id = Org.id \
        LEFT JOIN GeogRegion ON Org_GeogRegion_m2m.geogregion_id = GeogRegion.id')\
    .sort('org', 'geog_region')

Org_GeogRegion_DDF.registerTempTable('Org_GeogRegion')

Org_GeogRegion_DDF.cache()

Org_GeogRegion_DDF.show(NB_ROWS_TO_SHOW)

+---+------+-------------+--------+--------------------+
| id|org_id|geogregion_id|     org|         geog_region|
+---+------+-------------+--------+--------------------+
| 70|    44|            9|  Acxiom|Chicago (Greater)...|
|121|     4|            4|  Adatao|San Francisco Bay...|
|  7|     7|            7|   Adobe|  Salt Lake City, UT|
|  6|     7|            4|   Adobe|San Francisco Bay...|
|  8|     9|            3|  Affirm|   San Francisco, CA|
|116|   132|            4| AgilOne|San Francisco Bay...|
|149|    53|            3|  AirBnB|   San Francisco, CA|
|  9|    10|            2|Allstate|         Chicago, IL|
| 38|    38|            4|Alphabet|San Francisco Bay...|
+---+------+-------------+--------+--------------------+
only showing top 9 rows

## "UserInterestedInOrgs" table

In [12]:
UserInterestedInOrgs_m2m_DDF = hc.read.jdbc(
    url=DB_CONNECT,
    table=DB_TABLE_NAME___USERINTERSTEDINORGS_M2M)

UserInterestedInOrgs_m2m_DDF.registerTempTable('UserInterestedInOrgs_m2m')

UserInterestedInOrgs_m2m_DDF.show(NB_ROWS_TO_SHOW)

+---+-----------------------+------+
| id|userinterestedinorgs_id|org_id|
+---+-----------------------+------+
|638|                      1|   128|
|639|                      1|   130|
|640|                      1|   131|
|641|                      1|   132|
|642|                      1|     5|
|643|                      1|     7|
|644|                      1|   137|
|645|                      1|   144|
|646|                      1|    20|
+---+-----------------------+------+
only showing top 9 rows

In [13]:
UserInterestedInOrgs_DDF = hc.read.jdbc(
    url=DB_CONNECT,
    table=DB_TABLE_NAME___USERINTERSTEDINORGS)

UserInterestedInOrgs_DDF.registerTempTable('UserInterestedInOrgs')

UserInterestedInOrgs_DDF = hc.sql(
    'SELECT \
        UserInterestedInOrgs.id as id, \
        UserInterestedInOrgs.user_id as user_id, \
        UserInterestedInOrgs_m2m.org_id as org_id, \
        User.username as username, \
        User.first_name as user_first_name, \
        User.last_name as user_last_name, \
        User.email as user_email_address, \
        Org.name as org_name \
    FROM \
        UserInterestedInOrgs \
        JOIN UserInterestedInOrgs_m2m \
            ON UserInterestedInOrgs.id = UserInterestedInOrgs_m2m.userinterestedinorgs_id \
        JOIN User ON UserInterestedInOrgs.user_id = User.id \
        JOIN Org ON UserInterestedInOrgs_m2m.org_id = Org.id')\
    .sort(
        'username',
        'org_name')

UserInterestedInOrgs_DDF.registerTempTable('UserInterestedInOrgs')

UserInterestedInOrgs_DDF.cache()

UserInterestedInOrgs_DDF.toPandas()

,id,user_id,org_id,username,user_first_name,user_last_name,user_email_address,org_name
0,1,2,4,MBALearnsToCode,Vinh,Luong,MBALearnsToCode@UChicago.edu,Adatao
1,1,2,7,MBALearnsToCode,Vinh,Luong,MBALearnsToCode@UChicago.edu,Adobe
2,1,2,132,MBALearnsToCode,Vinh,Luong,MBALearnsToCode@UChicago.edu,AgilOne
3,1,2,53,MBALearnsToCode,Vinh,Luong,MBALearnsToCode@UChicago.edu,AirBnB
4,1,2,124,MBALearnsToCode,Vinh,Luong,MBALearnsToCode@UChicago.edu,Apple
5,1,2,117,MBALearnsToCode,Vinh,Luong,MBALearnsToCode@UChicago.edu,Auction.com
6,1,2,95,MBALearnsToCode,Vinh,Luong,MBALearnsToCode@UChicago.edu,Box
7,1,2,108,MBALearnsToCode,Vinh,Luong,MBALearnsToCode@UChicago.edu,Cloudera
8,1,2,120,MBALearnsToCode,Vinh,Luong,MBALearnsToCode@UChicago.edu,Databricks
9,1,2,144,MBALearnsToCode,Vinh,Luong,MBALearnsToCode@UChicago.edu,Dropbox
10,1,2,100,MBALearnsToCode,Vinh,Luong,MBALearnsToCode@UChicago.edu,Endgame
11,1,2,20,MBALearnsToCode,Vinh,Luong,MBALearnsToCode@UChicago.edu,Facebook
12,1,2,103,MBALearnsToCode,Vinh,Luong,MBALearnsToCode@UChicago.edu,GitHub
13,1,2,39,MBALearnsToCode,Vinh,Luong,MBALearnsToCode@UChicago.edu,Google
14,1,2,5,MBALearnsToCode,Vinh,Luong,MBALearnsToCode@UChicago.edu,H2O
15,1,2,22,MBALearnsToCode,Vinh,Luong,MBALearnsToCode@UChicago.edu,IBM
16,1,2,151,MBALearnsToCode,Vinh,Luong,MBALearnsToCode@UChicago.edu,IXL Learning
17,1,2,106,MBALearnsToCode,Vinh,Luong,MBALearnsToCode@UChicago.edu,InstaCart
18,1,2,59,MBALearnsToCode,Vinh,Luong,MBALearnsToCode@UChicago.edu,Kaggle
19,1,2,131,MBALearnsToCode,Vinh,Luong,MBALearnsToCode@UChicago.edu,Kahuna
20,1,2,109,MBALearnsToCode,Vinh,Luong,MBALearnsToCode@UChicago.edu,LendUp
21,1,2,26,MBALearnsToCode,Vinh,Luong,MBALearnsToCode@UChicago.edu,LinkedIn
22,1,2,152,MBALearnsToCode,Vinh,Luong,MBALearnsToCode@UChicago.edu,LiquidSpace
23,1,2,113,MBALearnsToCode,Vinh,Luong,MBALearnsToCode@UChicago.edu,Luxe
24,1,2,153,MBALearnsToCode,Vinh,Luong,MBALearnsToCode@UChicago.edu,OpenTable
25,1,2,126,MBALearnsToCode,Vinh,Luong,MBALearnsToCode@UChicago.edu,Primary Data
26,1,2,116,MBALearnsToCode,Vinh,Luong,MBALearnsToCode@UChicago.edu,Quantifind
27,1,2,32,MBALearnsToCode,Vinh,Luong,MBALearnsToCode@UChicago.edu,Quora
28,1,2,128,MBALearnsToCode,Vinh,Luong,MBALearnsToCode@UChicago.edu,Reddit
29,1,2,122,MBALearnsToCode,Vinh,Luong,MBALearnsToCode@UChicago.edu,RingCentral
30,1,2,60,MBALearnsToCode,Vinh,Luong,MBALearnsToCode@UChicago.edu,Sift Science
31,1,2,51,MBALearnsToCode,Vinh,Luong,MBALearnsToCode@UChicago.edu,Splunk
32,1,2,42,MBALearnsToCode,Vinh,Luong,MBALearnsToCode@UChicago.edu,Square
33,1,2,137,MBALearnsToCode,Vinh,Luong,MBALearnsToCode@UChicago.edu,Synack
34,1,2,114,MBALearnsToCode,Vinh,Luong,MBALearnsToCode@UChicago.edu,Thumbtack
35,1,2,34,MBALearnsToCode,Vinh,Luong,MBALearnsToCode@UChicago.edu,Uber
36,1,2,125,MBALearnsToCode,Vinh,Luong,MBALearnsToCode@UChicago.edu,Universal Audio
37,1,2,130,MBALearnsToCode,Vinh,Luong,MBALearnsToCode@UChicago.edu,WePay
38,1,2,107,MBALearnsToCode,Vinh,Luong,MBALearnsToCode@UChicago.edu,Yelp

## "Person" table

In [14]:
Person_DDF = hc.read.jdbc(
    url=DB_CONNECT,
    table=DB_TABLE_NAME___PERSON)\
    .selectExpr(
        'id',
        'CONCAT( \
            COALESCE( \
                IF(first_name_alias = "", NULL, first_name_alias), \
                first_name), \
            " ", \
            UPPER(last_name)) \
            as name',
        'last_name',
        'first_name',
        'first_name_alias',
        'IF(gender, "male", "female") as gender')\
    .sort('last_name')

Person_DDF.registerTempTable('Person')

Person_DDF.cache()

Person_DDF.show(NB_ROWS_TO_SHOW)

+---+--------------+---------+--------------+----------------+------+
| id|          name|last_name|    first_name|first_name_alias|gender|
+---+--------------+---------+--------------+----------------+------+
| 21|  Paul ARONSON|  Aronson|          Paul|                |  male|
|  2|   Sahil BAHRI|    Bahri|         Sahil|                |  male|
| 18|  Anju BHALDAR|  Bhaldar|          Anju|                |female|
| 16|Rudi BONAPARTE|Bonaparte|          Rudi|                |  male|
| 25|     Greg BUSH|     Bush|       Gregory|            Greg|  male|
|  8|    Cheng CHEN|     Chen|         Cheng|                |  male|
| 11| John CIASULLI| Ciasulli|    John David|            John|  male|
|  7|Amanda COLLINS|  Collins|Amanda Marlene|          Amanda|female|
| 12|       Tony DO|       Do|         Thong|            Tony|  male|
+---+--------------+---------+--------------+----------------+------+
only showing top 9 rows

# "RoleLevel" table

In [15]:
RoleLevel_DDF = hc.read.jdbc(
    url=DB_CONNECT,
    table=DB_TABLE_NAME___ROLELVEL)\
    .sort('level_number_from_high_to_low')

RoleLevel_DDF.registerTempTable('RoleLevel')
    
RoleLevel_DDF.show(NB_ROWS_TO_SHOW)

+---+------+-----------------------------+
| id| level|level_number_from_high_to_low|
+---+------+-----------------------------+
|  2| Board|                            1|
|  1|     C|                            2|
|  3|senior|                            3|
|  4|   mid|                            4|
|  5|junior|                            5|
+---+------+-----------------------------+

## "Role" table

In [16]:
Role_DDF = hc.read.jdbc(
    url=DB_CONNECT,
    table=DB_TABLE_NAME___ROLE)

Role_DDF.registerTempTable('Role')

Role_DDF = hc.sql(
    'SELECT \
        Role.id as id, \
        CONCAT(Role.title, " [", RoleLevel.level, "-level]") as title, \
        RoleLevel.level_number_from_high_to_low as level \
    FROM \
        Role \
        JOIN RoleLevel ON Role.level_id = RoleLevel.id')\
    .sort('level_number_from_high_to_low', 'title')

Role_DDF.registerTempTable('Role')

Role_DDF.cache()
    
Role_DDF.show(NB_ROWS_TO_SHOW)

+---+--------------------+-----+
| id|               title|level|
+---+--------------------+-----+
|  2|Chair of the Boar...|    1|
|  5|Director of the B...|    1|
|  8|(Co-)Founder [C-l...|    2|
| 19|Chief Analytics O...|    2|
|  1|Chief Executive O...|    2|
| 20|Chief Financial O...|    2|
| 21|Chief Operating O...|    2|
| 18|Chief Technology ...|    2|
| 86|Chief Architect, ...|    3|
+---+--------------------+-----+
only showing top 9 rows

## "CareerOpportunity_GeogRegion" table

In [17]:
CareerOpportunity_GeogRegion_m2m_DDF = hc.read.jdbc(
    url=DB_CONNECT,
    table=DB_TABLE_NAME___CAREEROPPORTUNITY_GEOGREGION_M2M)

CareerOpportunity_GeogRegion_m2m_DDF.registerTempTable('CareerOpportunity_GeogRegion_m2m')

CareerOpportunity_GeogRegion_m2m_DDF.show(NB_ROWS_TO_SHOW)

+---+--------------------+-------------+
| id|careeropportunity_id|geogregion_id|
+---+--------------------+-------------+
|  1|                   5|            2|
|  2|                   3|            3|
|  3|                   1|            3|
|  4|                   2|            4|
|  5|                   4|            3|
|  6|                   6|            1|
|  7|                   6|            4|
|  9|                   7|            4|
| 12|                   9|            4|
+---+--------------------+-------------+
only showing top 9 rows

In [18]:
CareerOpportunity_GeogRegion_DDF = hc.sql(
    'SELECT \
        CareerOpportunity_GeogRegion_m2m.careeropportunity_id as careeropportunity_id, \
        GeogRegion.name as geog_region \
    FROM \
        CareerOpportunity_GeogRegion_m2m \
        LEFT JOIN GeogRegion ON CareerOpportunity_GeogRegion_m2m.geogregion_id = GeogRegion.id')

CareerOpportunity_GeogRegion_DDF.registerTempTable('CareerOpportunity_GeogRegion')

CareerOpportunity_GeogRegion_DDF.cache()

CareerOpportunity_GeogRegion_DDF.show(NB_ROWS_TO_SHOW)

+--------------------+--------------------+
|careeropportunity_id|         geog_region|
+--------------------+--------------------+
|                   5|         Chicago, IL|
|                   3|   San Francisco, CA|
|                   1|   San Francisco, CA|
|                   2|San Francisco Bay...|
|                   4|   San Francisco, CA|
|                   6|         Seattle, WA|
|                   6|San Francisco Bay...|
|                   7|San Francisco Bay...|
|                   9|San Francisco Bay...|
+--------------------+--------------------+
only showing top 9 rows

In [20]:
CareerOpportunity_DDF = hc.read.jdbc(
    url=DB_CONNECT,
    table=DB_TABLE_NAME___CAREEROPPORTUNITY)

CareerOpportunity_DDF.registerTempTable('CareerOpportunity')

CareerOpportunity_DDF = hc.sql(
    'SELECT \
        CareerOpportunity.id as id, \
        Org.id as org_id, \
        Org.name as org, \
        Role.title as role, \
        Role.level as role_level, \
        CareerOpportunity_GeogRegion.geog_region as geog_region, \
        CareerOpportunity.open as open, \
        CareerOpportunity.posting_date as posting_date \
    FROM \
        CareerOpportunity \
        LEFT JOIN Org ON CareerOpportunity.org_id = Org.id \
        LEFT JOIN Role ON CareerOpportunity.role_id = Role.id \
        LEFT JOIN CareerOpportunity_GeogRegion ON \
            CareerOpportunity.id = CareerOpportunity_GeogRegion.careeropportunity_id')\
    .sort(
        'org',
        'role_level',
        'role',
        'geog_region')\
    .sort('open', ascending=False)

CareerOpportunity_DDF.registerTempTable('CareerOpportunity')

CareerOpportunity_DDF.cache()

CareerOpportunity_DDF.show(NB_ROWS_TO_SHOW)

+---+------+--------------------+--------------------+----------+--------------------+----+------------+
| id|org_id|                 org|                role|role_level|         geog_region|open|posting_date|
+---+------+--------------------+--------------------+----------+--------------------+----+------------+
|  8|     4|              Adatao|Data Scientist [m...|         4|San Francisco Bay...|true|  2015-10-12|
| 21|     7|               Adobe|Data Scientist [m...|         4|San Francisco Bay...|true|  2015-10-06|
| 58|   132|             AgilOne|Senior Data Scien...|         4|San Francisco Bay...|true|  2015-11-01|
| 88|    53|              AirBnB|Data Scientist - ...|         4|   San Francisco, CA|true|  2015-11-10|
| 91|    53|              AirBnB|Data Scientist Ex...|         4|   San Francisco, CA|true|  2015-10-25|
| 89|    53|              AirBnB|Global Mobilizati...|         4|   San Francisco, CA|true|  2015-10-15|
| 90|    53|              AirBnB|Product Analyst [...|         4|   San Francisco, CA|true|  2015-11-09|
|104|     3|              Amazon|Data Scientist [m...|         4|         Seattle, WA|true|  2015-10-20|
|  6|     1|Amazon Web Servic...|Machine Learning ...|         4|San Francisco Bay...|true|        null|
+---+------+--------------------+--------------------+----------+--------------------+----+------------+
only showing top 9 rows

## "UserCareerOpportunityStatus" table

In [21]:
UserCareerOpportunityStatus_DDF = hc.read.jdbc(
    url=DB_CONNECT,
    table=DB_TABLE_NAME___USERCAREEROPPORTUNITYSTATUS)
    
UserCareerOpportunityStatus_DDF.registerTempTable('UserCareerOpportunityStatus')

UserCareerOpportunityStatus_DDF = hc.sql(
    'SELECT \
        UserCareerOpportunityStatus.id as id, \
        UserCareerOpportunityStatus.user_id as user_id, \
        UserCareerOpportunityStatus.career_opportunity_id as careeropportunity_id, \
        User.username as username, \
        User.first_name as user_first_name, \
        User.last_name as user_last_name, \
        User.email as user_email, \
        UserCareerOpportunityStatus.status as status \
    FROM \
        UserCareerOpportunityStatus \
        JOIN User ON UserCareerOpportunityStatus.user_id = User.id')

UserCareerOpportunityStatus_DDF.registerTempTable('UserCareerOpportunityStatus')

UserCareerOpportunityStatus_DDF.cache()

UserCareerOpportunityStatus_DDF.toPandas()

,id,user_id,careeropportunity_id,username,user_first_name,user_last_name,user_email,status
0,1,2,21,MBALearnsToCode,Vinh,Luong,MBALearnsToCode@UChicago.edu,applied; LinkedIn messaged to recruiter; TODO:...
1,2,2,20,MBALearnsToCode,Vinh,Luong,MBALearnsToCode@UChicago.edu,applied
2,3,2,26,MBALearnsToCode,Vinh,Luong,MBALearnsToCode@UChicago.edu,applied
3,4,2,29,MBALearnsToCode,Vinh,Luong,MBALearnsToCode@UChicago.edu,applied; to talk to Luan's friend
4,5,2,31,MBALearnsToCode,Vinh,Luong,MBALearnsToCode@UChicago.edu,applied; to find recruiter
5,6,2,32,MBALearnsToCode,Vinh,Luong,MBALearnsToCode@UChicago.edu,Applied
6,7,2,33,MBALearnsToCode,Vinh,Luong,MBALearnsToCode@UChicago.edu,Initiated convers; no visa sponsorship
7,8,2,17,MBALearnsToCode,Vinh,Luong,MBALearnsToCode@UChicago.edu,Applied; heard nothing
8,9,2,56,MBALearnsToCode,Vinh,Luong,MBALearnsToCode@UChicago.edu,Applied;
9,10,2,57,MBALearnsToCode,Vinh,Luong,MBALearnsToCode@UChicago.edu,Applied;
10,11,2,62,MBALearnsToCode,Vinh,Luong,MBALearnsToCode@UChicago.edu,Applied;
11,12,2,8,MBALearnsToCode,Vinh,Luong,MBALearnsToCode@UChicago.edu,Ongoing
12,13,2,63,MBALearnsToCode,Vinh,Luong,MBALearnsToCode@UChicago.edu,Applied;
13,14,2,67,MBALearnsToCode,Vinh,Luong,MBALearnsToCode@UChicago.edu,Applying...
14,16,2,83,MBALearnsToCode,Vinh,Luong,MBALearnsToCode@UChicago.edu,Applied;
15,17,2,84,MBALearnsToCode,Vinh,Luong,MBALearnsToCode@UChicago.edu,Applied;
16,18,2,137,MBALearnsToCode,Vinh,Luong,MBALearnsToCode@UChicago.edu,Applied;
17,19,2,138,MBALearnsToCode,Vinh,Luong,MBALearnsToCode@UChicago.edu,Applied;
18,20,2,71,MBALearnsToCode,Vinh,Luong,MBALearnsToCode@UChicago.edu,Applied;
19,21,2,140,MBALearnsToCode,Vinh,Luong,MBALearnsToCode@UChicago.edu,Applied;
20,15,2,82,MBALearnsToCode,Vinh,Luong,MBALearnsToCode@UChicago.edu,Applied;
21,22,2,61,MBALearnsToCode,Vinh,Luong,MBALearnsToCode@UChicago.edu,Applied;
22,23,2,60,MBALearnsToCode,Vinh,Luong,MBALearnsToCode@UChicago.edu,Applied;
23,24,2,59,MBALearnsToCode,Vinh,Luong,MBALearnsToCode@UChicago.edu,Applied;
24,25,2,52,MBALearnsToCode,Vinh,Luong,MBALearnsToCode@UChicago.edu,Applied;
25,26,2,53,MBALearnsToCode,Vinh,Luong,MBALearnsToCode@UChicago.edu,Applied;
26,27,2,51,MBALearnsToCode,Vinh,Luong,MBALearnsToCode@UChicago.edu,Applied;
27,28,2,46,MBALearnsToCode,Vinh,Luong,MBALearnsToCode@UChicago.edu,Applied;
28,29,2,50,MBALearnsToCode,Vinh,Luong,MBALearnsToCode@UChicago.edu,Applied;
29,30,2,43,MBALearnsToCode,Vinh,Luong,MBALearnsToCode@UChicago.edu,Applied;
30,31,2,38,MBALearnsToCode,Vinh,Luong,MBALearnsToCode@UChicago.edu,APplied;
31,32,2,54,MBALearnsToCode,Vinh,Luong,MBALearnsToCode@UChicago.edu,Applied;

## "FactType" table

In [22]:
FactType_DDF = hc.read.jdbc(
    url=DB_CONNECT,
    table=DB_TABLE_NAME___FACTTYPE)\
    .sort('label')
    
FactType_DDF.registerTempTable('FactType')

FactType_DDF.toPandas()

   id                       label
0   3        LinkedIn profile URL
1   6             business school
2   5  business/work phone number
3   8             careers website
4   1               email address
5   2                       hobby
6   4                     website
7   7                year founded

## "OrgFact" table

In [24]:
OrgFact_DDF = hc.read.jdbc(
    url=DB_CONNECT,
    table=DB_TABLE_NAME___ORGFACT)

OrgFact_DDF.registerTempTable('OrgFact')

OrgFact_DDF = hc.sql(
    'SELECT \
        OrgFact.id as id, \
        OrgFact.org_id as org_id, \
        OrgFact.fact_type_id as facttype_id, \
        Org.name as org, \
        FactType.label as fact_type, \
        OrgFact.fact as fact \
    FROM \
        OrgFact \
        LEFT JOIN Org ON OrgFact.org_id = Org.id \
        LEFT JOIN FactType ON OrgFact.fact_type_id = FactType.id')\
    .sort(
        'org',
        'fact_type',
        'fact')

OrgFact_DDF.registerTempTable('OrgFact')

OrgFact_DDF.cache()

OrgFact_DDF.show(NB_ROWS_TO_SHOW)

+---+------+-----------+---------+---------------+--------------------+
| id|org_id|facttype_id|      org|      fact_type|                fact|
+---+------+-----------+---------+---------------+--------------------+
| 85|    83|          4|       3M|        website|              3M.com|
| 86|    84|          4|   Abbott|        website|          Abbott.com|
| 47|    46|          4|Accenture|        website|       Accenture.com|
| 45|    44|          4|   Acxiom|        website|          Acxiom.com|
| 14|     8|          4| AdYapper|        website|        AdYapper.com|
|159|     4|          8|   Adatao|careers website|www.linkedin.com/...|
|  1|     4|          4|   Adatao|        website|          Adatao.com|
|  4|     4|          7|   Adatao|   year founded|                2012|
| 13|     7|          4|    Adobe|        website|           Adobe.com|
+---+------+-----------+---------+---------------+--------------------+
only showing top 9 rows

# DERIVED TABLES

## "OrgOverview" table

In [27]:
# OrgFact_website table
FactType_Website_DDF = hc.sql(
    'SELECT \
        id, \
        label \
    FROM \
        FactType \
    WHERE \
        label = "website"')

OrgFact_Website_DDF =\
    OrgFact_DDF.join(
        FactType_Website_DDF,
        on=OrgFact_DDF.facttype_id == FactType_Website_DDF.id)\
    .select(
        'org_id',
        'fact')
    
OrgFact_Website_DDF.registerTempTable('OrgFact_Website')


# OrgFact_CareersWebsite table

FactType_CareersWebsite_DDF = hc.sql(
    'SELECT \
        id, \
        label \
    FROM \
        FactType \
    WHERE \
        label = "careers website"')

OrgFact_CareersWebsite_DDF =\
    OrgFact_DDF.join(
        FactType_CareersWebsite_DDF,
        on=OrgFact_DDF.facttype_id == FactType_CareersWebsite_DDF.id)\
    .select(
        'org_id',
        'fact')
    
OrgFact_CareersWebsite_DDF.registerTempTable('OrgFact_CareersWebsite')


# OrgNbOpenCareerOpportunities
OrgNbOpenCareerOpportunities_DDF = hc.sql(
    'SELECT \
        org_id, \
        COUNT(*) as nb_open_career_opportunities \
    FROM \
        CareerOpportunity \
    WHERE \
        open = true \
    GROUP BY \
       org_id')

OrgNbOpenCareerOpportunities_DDF.registerTempTable('OrgNbOpenCareerOpportunities')


# OrgOverview table
OrgOverview_DDF = hc.sql(
    'SELECT \
        Org.id as id, \
        Org.name as name, \
        COLLECT_SET(OrgFact_Website.fact) as websites, \
        COLLECT_SET(OrgFact_CareersWebsite.fact) as careers_websites, \
        COLLECT_SET(Org_BusinessSector.business_sector) as business_sectors, \
        COLLECT_SET(Org_GeogRegion.geog_region) as geog_regions, \
        OrgNbOpenCareerOpportunities.nb_open_career_opportunities as nb_open_career_opportunities \
    FROM \
        Org \
        LEFT JOIN OrgFact_Website ON Org.id = OrgFact_Website.org_id \
        LEFT JOIN OrgFact_CareersWebsite ON Org.id = OrgFact_CareersWebsite.org_id \
        LEFT JOIN Org_BusinessSector ON Org.id = Org_BusinessSector.org_id \
        LEFT JOIN Org_GeogRegion ON Org.id = Org_GeogRegion.org_id \
        LEFT JOIN OrgNbOpenCareerOpportunities ON Org.id = OrgNbOpenCareerOpportunities.org_id \
    GROUP BY \
        Org.id, \
        Org.name, \
        OrgNbOpenCareerOpportunities.nb_open_career_opportunities')\
    .sort('name')

OrgOverview_DDF.toPandas()

,id,name,websites,careers_websites,business_sectors,geog_regions,nb_open_career_opportunities
0,83,3M,[3M.com],[],[Creative],[],NaN
1,84,Abbott,[Abbott.com],[],"[Healthcare, Pharmaceutical]",[],NaN
2,46,Accenture,[Accenture.com],[],[Consulting],[],NaN
3,44,Acxiom,[Acxiom.com],[],"[Advertising, Marketing]","[Chicago (Greater), IL]",NaN
4,8,AdYapper,[AdYapper.com],[],"[Marketing, Technology]",[],NaN
5,4,Adatao,[Adatao.com],[www.linkedin.com/vsearch/j?f_C=3031699],[Technology],"[San Francisco Bay Area, CA]",1
6,7,Adobe,[Adobe.com],[],[Technology],"[Salt Lake City, UT, San Francisco Bay Area, CA]",1
7,9,Affirm,[Affirm.com],[],"[Financial Services: Consumer Finance, Technol...","[San Francisco, CA]",NaN
8,132,AgilOne,[AgilOne.com],[],"[Marketing, Technology, Technology: Data & Ana...","[San Francisco Bay Area, CA]",1
9,53,AirBnB,[AirBnB.com],[www.linkedin.com/vsearch/j?f_C=309694],"[Hospitality, Technology]","[San Francisco, CA]",4
10,85,Alcatel-Lucent,[Alcatel-Lucent.com],[],[Technology],[],NaN
11,10,Allstate,[Allstate.com],[],[Financial Services: Insurance],"[Chicago, IL]",NaN
12,38,Alphabet,[Alphabet.com],[],[Technology],"[San Francisco Bay Area, CA]",NaN
13,3,Amazon,[Amazon.com],[],"[E-Commerce, Technology]","[San Francisco Bay Area, CA, Seattle, WA]",1
14,1,Amazon Web Services (AWS),[AWS.Amazon.com],[],[],[],2
15,11,Andreesen Horowitz (a16z),[a16z.com],[],[Venture Capital (VC)],"[San Francisco Bay Area, CA]",NaN
16,64,Anheuser-Busch InBev,[AB-InBev.com],[],[Beverages],[],NaN
17,101,Anthem,[Anthem.com],[],[Financial Services: Insurance],"[Chicago, IL]",NaN
18,52,AppDynamics,[AppDynamics.com],[],[Technology],"[San Francisco, CA]",NaN
19,124,Apple,[Apple.com],[],[Technology],"[San Francisco Bay Area, CA]",6
20,12,Array of Things,[ArrayOfThings.GitHub.io],[],"[Technology, Technology: Internet of Things (I...","[Chicago, IL]",NaN
21,86,Atlas RFID Solutions,[AtlasRFID.com],[],[Technology],[],NaN
22,174,Atlassian,[Atlassian.com],[],[Technology],"[San Francisco Bay Area, CA]",1
23,117,Auction.com,[Auction.com],[www.linkedin.com/vsearch/j?f_C=1474032],"[Real Estate, Technology]","[San Francisco Bay Area, CA]",1
24,13,Avant,[Avant.com],[],"[Financial Services: Consumer Finance, Technol...","[Chicago, IL]",NaN
25,118,Aviso,[Aviso.com],[boards.Greenhouse.io/Aviso],"[Marketing, Technology: Data & Analytics]","[San Francisco Bay Area, CA]",2
26,41,Banjo,[Ban.jo],[],[Technology: Data & Analytics],"[San Francisco Bay Area, CA]",1
27,76,Bank of America Merrill Lynch (BoAML),[BofAML.com],[],[Financial Services],[],NaN
28,112,BeyondCore,[BeyondCore.com],[],[Technology: Data & Analytics],"[San Francisco Bay Area, CA]",NaN
29,111,Big Cloud,[BigCloud.io],[],[Recruiting / Headhunting],"[San Francisco Bay Area, CA]",NaN
...,...,...,...,...,...,...,...
147,162,Study.com,[Study.com],[],"[Education, Technology]","[San Francisco Bay Area, CA]",1
148,137,Synack,[],[boards.Greenhouse.io/Synack],[Technology: Cybersecurity],"[San Francisco Bay Area, CA]",1
149,119,Techshed,[Techshed.com],[],[Technology],"[San Francisco Bay Area, CA]",1
150,57,Tegna,[Tegna.com],[],[],[],NaN
151,114,Thumbtack,[Thumbtack.com],[boards.Greenhouse.io/Thumbtack],[Technology],"[San Francisco Bay Area, CA]",2
152,31,TransUnion,[TransUnion.com],[],[Financial Services],"[Chicago, IL]",NaN
153,69,TripAdvisor,[TripAdvisor.com],[],"[Hospitality, Travel]","[Boston, MA]",NaN
154,66,TrueCar,[TrueCar.com],[www.linkedin.com/vsearch/j?f_C=247483],[Technology],"[San Francisco, CA]",1
155,73,Trustmark,"[TrustmarkIns.com, TrustmarkInsurance.com]",[],[Financial Services: Insurance],[],NaN
156,147,TubeMogul,[TubeMogul.com],[],"[Advertising, Technology]","[San Francisco Bay Area, CA]",1
157,94,Twilio,[Twilio],[],[Technology],[],NaN
158,93,Twitter,[Twitter.com],[],"[Media, Technology]",[],NaN
159,34,Uber,[Uber.com],[],[Technology],"[San Francisco, CA]",5
160,125,Universal Audio,[UniversalAudio.com],[],[Audio],"[San Francisco Bay Area, CA]",1
161,88,University of Chicago,[UChicago.edu],[],[Education],[],NaN
162,35,Uptake,[Uptake.com],[],"[Technology: Data & Analytics, Technology: Int...","[Chicago, IL]",NaN
163,173,Upwork,[Upwork.com],[],[Technology],"[San Francisco Bay Area, CA]",1
164,170,VMware,[VMware.com],[],[Technology],"[San Francisco Bay Area, CA]",1
165,72,Walgreens,[Walgreens.com],[],[Retail],[],NaN
166,92,Walt Disney,[Disney.com],[],"[Entertainment, Media]","[Los Angeles (Greater), LA]",NaN
167,130,WePay,[WePay.com],[boards.Greenhouse.io/WePay],[Technology],"[San Francisco Bay Area, CA]",2
168,141,Westfield,[Westfield.com],[],[Real Estate],"[San Francisco Bay Area, CA]",1
169,107,Yelp,[Yelp.com],[],[Technology],"[San Francisco, CA]",1
170,136,YuMe,[YuMe.com],[],"[Advertising, Technology: Data & Analytics]","[San Francisco Bay Area, CA]",NaN
171,166,Zenefits,[Zenefits.com],[],"[Human Resources, Technology]","[San Francisco Bay Area, CA]",NaN
172,77,Zurich North America,[ZurichNA.com],[],[Financial Services: Insurance],"[Chicago, IL]",NaN
173,102,Zynga,[Zynga.com],[],[Online Games],"[San Francisco, CA]",NaN
174,159,comScore,[comScore.com],[],"[Media, Technology]","[San Francisco Bay Area, CA]",1
175,160,eBay,[eBay.com],[],[Technology],"[San Francisco Bay Area, CA]",5
176,96,iRobot,[iRobot.com],[],"[Robotics, Technology]","[Boston (Greater), MA]",NaN

## "MyCareerOpportunity" tables

In [28]:
InterestingOrg_CareersWebsites_DDF = hc.sql(
    'SELECT \
        UserInterestedInOrgs.org_name as name, \
        OrgFact_CareersWebsite.fact as careers_website \
    FROM \
        UserInterestedInOrgs \
        LEFT JOIN OrgFact_CareersWebsite \
            ON UserInterestedInOrgs.org_id = OrgFact_CareersWebsite.org_id \
    WHERE \
        UserInterestedInOrgs.username = "MBALearnsToCode"')\
    .sort('name')

InterestingOrg_CareersWebsites_DDF.toPandas()

               name                                    careers_website
0            Adatao             www.linkedin.com/vsearch/j?f_C=3031699
1             Adobe                                               None
2           AgilOne                                               None
3            AirBnB              www.linkedin.com/vsearch/j?f_C=309694
4             Apple                                               None
5       Auction.com             www.linkedin.com/vsearch/j?f_C=1474032
6               Box                                    Box.com/careers
7          Cloudera                                               None
8        Databricks                     Databricks.com/company/careers
9        Databricks  www.Glassdoor.com/Job/Databricks-Jobs-E954734.htm
10          Dropbox              www.linkedin.com/vsearch/j?f_C=167251
11          Endgame             www.linkedin.com/vsearch/j?f_C=2846834
12         Facebook                                               None
13           GitHub                             GithHub.com/about/jobs
14           GitHub                               jobs.Lever.co/GitHub
15           GitHub             www.linkedin.com/vsearch/j?f_C=1418841
16           Google                                               None
17              H2O                                               None
18              IBM                                               None
19     IXL Learning                                               None
20        InstaCart                                               None
21           Kaggle                                               None
22           Kahuna                        boards.Greenhouse.io/Kahuna
23           LendUp                        boards.Greenhouse.io/Lendup
24           LendUp             www.linkedin.com/vsearch/j?f_C=2871792
25         LinkedIn                                               None
26      LiquidSpace                          LiquidSpace.com/home/jobs
27             Luxe                                               None
28        OpenTable  hire.Jobvite.com/CompanyJobs/Careers.aspx?c=qh...
29     Primary Data                                               None
30       Quantifind             www.linkedin.com/vsearch/j?f_C=1321033
31            Quora                                               None
32           Reddit                               jobs.Lever.co/Reddit
33      RingCentral                                               None
34     Sift Science                                               None
35           Splunk               www.linkedin.com/vsearch/j?f_C=20226
36           Square                                               None
37           Synack                        boards.Greenhouse.io/Synack
38        Thumbtack                     boards.Greenhouse.io/Thumbtack
39             Uber                                               None
40  Universal Audio                                               None
41            WePay                         boards.Greenhouse.io/WePay
42             Yelp                                               None

In [30]:
MyCareerOpportunity_DDF = hc.sql(
    'SELECT \
        CareerOpportunity.org as org, \
        CareerOpportunity.role as role, \
        COLLECT_SET(CareerOpportunity.geog_region) as geog_regions, \
        CareerOpportunity.open as open, \
        UserCareerOpportunityStatus.status as status \
    FROM \
        UserInterestedInOrgs \
        JOIN CareerOpportunity ON UserInterestedInOrgs.org_id = CareerOpportunity.org_id \
        LEFT JOIN UserCareerOpportunityStatus ON \
            CareerOpportunity.id = UserCareerOpportunityStatus.careeropportunity_id \
    WHERE \
        UserInterestedInOrgs.username = "MBALearnsToCode" OR \
        UserCareerOpportunityStatus.username ="MBALearnsToCode" \
    GROUP BY \
        CareerOpportunity.id, \
        CareerOpportunity.org, \
        CareerOpportunity.role, \
        CareerOpportunity.open, \
        UserCareerOpportunityStatus.status \
    ORDER BY \
        CareerOpportunity.org, \
        CareerOpportunity.role, \
        NOT CareerOpportunity.open')

MyCareerOpportunity_DDF.toPandas()

,org,role,geog_regions,open,status
0,Adatao,Data Scientist [mid-level],"[San Francisco Bay Area, CA]",True,Ongoing
1,Adobe,Data Scientist [mid-level],"[San Francisco Bay Area, CA]",True,applied; LinkedIn messaged to recruiter; TODO:...
2,AgilOne,Senior Data Scientist - Client Success [mid-le...,"[San Francisco Bay Area, CA]",True,None
3,AirBnB,Data Scientist - Economic Policy [mid-level],"[San Francisco, CA]",True,None
4,AirBnB,"Data Scientist Expert, Brand & Advertising [mi...","[San Francisco, CA]",True,None
5,AirBnB,Global Mobilization Data Researcher [mid-level],"[San Francisco, CA]",True,None
6,AirBnB,Product Analyst [mid-level],"[San Francisco, CA]",True,None
7,Apple,Data Scientist - Applied Machine Learning [mid...,"[San Francisco Bay Area, CA]",True,None
8,Apple,Data Scientist [mid-level],"[San Francisco Bay Area, CA]",True,None
9,Apple,"Machine Learning Data Scientist, Siri [mid-level]","[San Francisco Bay Area, CA]",True,None
10,Apple,Senior B.I. Data Analyst [mid-level],"[San Francisco Bay Area, CA]",True,None
11,Apple,Senior Data Analyst [mid-level],"[San Francisco Bay Area, CA]",True,None
12,Apple,Senior Machine Learning Scientist [mid-level],"[San Francisco Bay Area, CA]",True,None
13,Auction.com,Data Scientist [mid-level],"[San Francisco Bay Area, CA]",True,None
14,Cloudera,Data Scientist [mid-level],"[San Francisco Bay Area, CA, San Francisco, CA]",True,None
15,Databricks,Data Scientist [mid-level],"[San Francisco, CA]",True,None
16,Dropbox,Security Data Scientist [mid-level],"[San Francisco Bay Area, CA]",True,None
17,Endgame,Data Scientist [mid-level],"[San Francisco, CA]",True,None
18,Facebook,Data Scientist [mid-level],"[San Francisco Bay Area, CA]",True,None
19,Facebook,"Data Scientist, Analytics [mid-level]","[San Francisco Bay Area, CA]",True,None
20,Facebook,"Data Scientist, Core Data Science [mid-level]","[San Francisco Bay Area, CA]",True,None
21,Facebook,"Manager, Analytics [mid-level]","[San Francisco Bay Area, CA]",True,None
22,Facebook,"Manager, Planning & Analytics [mid-level]","[San Francisco Bay Area, CA]",True,None
23,Facebook,Product Analyst [mid-level],"[San Francisco Bay Area, CA]",True,None
24,GitHub,Data Scientist - User Research [mid-level],"[San Francisco, CA]",True,None
25,GitHub,Data Scientist [mid-level],"[San Francisco, CA]",True,Applied; heard nothing
26,Google,"Data Scientist / Quantitative Analyst, Youtube...","[San Francisco Bay Area, CA]",True,None
27,IBM,Data Scientist - Big Data [mid-level],"[San Francisco Bay Area, CA]",True,None
28,IXL Learning,Data Scientist [mid-level],"[San Francisco Bay Area, CA]",True,Applied;
29,InstaCart,Data Scientist [mid-level],"[San Francisco Bay Area, CA]",True,applied
...,...,...,...,...,...
42,LiquidSpace,Data Scientist [mid-level],"[San Francisco, CA]",True,Applied;
43,Luxe,Data Scientist [mid-level],"[San Francisco, CA]",True,applied; to talk to Luan's friend
44,OpenTable,Senior Data Scientist [mid-level],"[San Francisco, CA]",True,Applied;
45,Primary Data,Data Scientist [mid-level],"[San Francisco Bay Area, CA]",True,Applied;
46,Quantifind,Data Scientist [mid-level],"[San Francisco Bay Area, CA]",True,APplied;
47,Quantifind,Product Data Analyst [mid-level],"[San Francisco Bay Area, CA]",True,None
48,Quora,Director of Data Science [senior-level],"[San Francisco Bay Area, CA]",True,None
49,Quora,Engineering Manager - Machine Learning [mid-le...,"[San Francisco Bay Area, CA]",True,None
50,Quora,Software Engineer - Machine Learning [mid-level],"[San Francisco Bay Area, CA]",True,None
51,Quora,Technical Lead - Machine Learning [senior-level],"[San Francisco Bay Area, CA]",True,None
52,Reddit,Data Scientist - Personalization & Discovery [...,"[San Francisco Bay Area, CA]",True,Applied;
53,Reddit,Data Scientist - User & Product Analytics [mid...,"[San Francisco Bay Area, CA]",True,Applied;
54,RingCentral,Data Scientist [mid-level],"[San Francisco Bay Area, CA]",True,Applied;
55,Sift Science,Machine Learning Engineer [mid-level],"[San Francisco, CA]",True,None
56,Splunk,Data Scientist [mid-level],"[San Francisco Bay Area, CA]",True,None
57,Splunk,Data Scientist [mid-level],"[San Francisco Bay Area, CA]",True,None
58,Splunk,Product Manager - Business Analytics [mid-level],"[San Francisco Bay Area, CA]",True,None
59,Square,Data Scientist [mid-level],"[San Francisco, CA]",True,None
60,Synack,Data Scientist [mid-level],"[San Francisco Bay Area, CA]",True,Applied;
61,Thumbtack,Analytics Manager [mid-level],"[San Francisco, CA]",True,applied; to find recruiter
62,Thumbtack,Data Scientist [mid-level],"[San Francisco, CA]",True,Applied
63,Uber,Data Scientist - Data Modeling [mid-level],"[San Francisco, CA]",True,None
64,Uber,Data Scientist - Machine Learning Platform [mi...,"[San Francisco, CA]",True,None
65,Uber,Data Scientist - Monitoring Platform [mid-level],"[San Francisco, CA]",True,None
66,Uber,Global Data Analyst [mid-level],"[San Francisco, CA]",True,None
67,Uber,Machine Learning Scientist - Marketplace Optim...,"[San Francisco, CA]",True,None
68,Universal Audio,Data Scientist [mid-level],"[San Francisco Bay Area, CA]",True,Applied;
69,WePay,Business Analytics Manager [mid-level],"[San Francisco Bay Area, CA]",True,Applied;
70,WePay,Data Scientist [mid-level],"[San Francisco Bay Area, CA]",True,None
71,Yelp,Data Scientist [mid-level],"[San Francisco, CA]",True,None

# _end._